.App {
  text-align: center;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.section{
  margin: 5rem;
}

/*LE MODAL*/

#id-modal-open{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
  border-radius: 20px;
  background-color: blueviolet;
  color: white;
  font-size: 20px;
  text-align: center;
}
#id-modal-open p:first-of-type{
  display: flex;
justify-content: end;
}

.none{
  background-color: white;
}


/*RATING SYSTEM*/

.star-svg:hover{
  background-color:#ff0;
}